<h2 class="mat-h2">Add new shopping item</h2>

<form (ngSubmit)="addShoppingItem()">
<!--    <mat-form-field class="full-width-input">-->
<!--      <mat-select [(ngModel)]="shoppingItemToAdd.cycleniv" name="cycleniv">-->
<!--        <mat-option *ngFor="let c of cycles" [value]="c.code" >-->
<!--          {{c.cycleSclr}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->


<!--    <mat-form-field class="full-width-input">-->
<!--      <input matInput [(ngModel)]="shoppingItemToAdd.prix" name="prix">-->
<!--    </mat-form-field>-->

<!--    <div class="button-wrapper">-->
<!--        <button mat-stroked-button type="button" color="accent" (click)="closeDialog()">Cancel</button>-->
<!--        <button mat-flat-button type="submit" color="primary">Add</button>-->
<!--    </div>-->
</form>
