/*.table-wrapper {
  margin: 12px;
  position: relative;

}*/

.add-button {
  position: absolute;
  right: 0;
  margin: 126px;
}

table {
  width: 70%;
}

/*mat-form-field {
  width: 50%;
  font-size: 14px;
}*/





